//colors
$white: #fff;
$gray: #999;
$black: #333;

//layout
@import "layout/adjustment";
@import "layout/fonts";

//sections
@import "sections/header";
@import "sections/about";
@import "sections/facts";
@import "sections/service";
@import "sections/feature";
@import "sections/service2";
@import "sections/quote";
@import "sections/team";
@import "sections/logos";
@import "sections/work";
@import "sections/testimonial";
@import "sections/say";
@import "sections/blog";
@import "sections/map";
@import "sections/footer";
@import "sections/myStyle";
@import "sections/floatMenu";

// media
@import "media/tv";
@import "media/desktop";
@import "media/laptop";
@import "media/tablets";
@import "media/phones";