// Extra large devices (large desktops)
@media screen and (max-width: 1200px) {
	.container {
		width: 950px;
	}

	.header__text {
		font-size: 60px;
	}

	.header__title {
		font-size: 110px;
	}

	.header__bottomItem {
		width: 23%;
	}

	.about {
		min-height: auto;
		padding: 90px 0;
	}

	.about__item {
		width: 32%;
	}

	.service {
		min-height: auto;
		padding: 90px 0;
	}

	.hr {
		display: none;
	}

	.service__item {
		width: 50%;
		padding-bottom: 0;
	}

	.feature__bg {
		padding-top: 90px;
	}

	.service2 {
		min-height: auto;
		padding: 90px 0;
	}

	.quote__wrap {
		padding: 0 55px;
	}

	.team {
		min-height: auto;
		padding: 90px 0;
	}

	.team__item {
		width: 32%;
	}

	.work {
		min-height: auto;
		padding-top: 90px;
	}

	.testimonial__wrap {
		min-height: 290px;
		padding: 0 55px;
	}

	.testimonial__item {
		align-items: center;
	}

	.testimonial__itemLeft {
		width: 25%;
	}

	.testimonial__itemInfo {
		width: 72%;
	}

	.say__wrap {
		padding: 90px 0 0 0;
	}

	.say__item {
		width: 50%;
	}

	.blog {
		min-height: auto;
	}

	.blog__wrap {
		padding: 90px 0;
	}

	.blog__item {
		width: 32%;
	}

	.footer__top {
		flex-wrap: wrap;
	}

	.footer__instagram {
		margin-top: 35px;
	}
}