.footer {
	background-color: #f8f8f8;
}

.footer__top {
	display: flex;
	justify-content: space-between;
	min-height: 500px;
	padding: 70px 0 69px 0;
	border-bottom: 1px solid #e5e5e5;
}

.footer__info {
	width: 480px;
	min-height: 360px;
}

.logo_big {

	a {
		font-size: 46px;
		color: #ccc;
	}
}

.footer__infoText {
	margin-bottom: 50px;
}

.footer__infoFollowers {
	padding-bottom: 15px;
	font-family: 'Montserrat';
	color: $black;
	border-bottom: 1px solid #e5e5e5;
}

.footer__infoFollowers-Num {
	font-weight: 700;
	font-size: 18px;
}

.footer__infoFollowers-text {
	font-size: 14px;
}

.footer__infoSocials {
	display: flex;
	margin: 15px 0 29px 0;
}

.footer__infoSocialsText {
	margin-right: 20px;
	font-weight: 300;
  font-style: italic;
}

.footer__infoSocials-list {
	display: flex;
}

.footer__infoSocials-item {
	margin-right: 15px;

	.fa-facebook-f,
	.fa-twitter,
	.fa-instagram,
	.fa-pinterest-p,
	.fa-google-plus-g,
	.fa-youtube,
	.fa-dribbble,
	.fa-tumblr {
		color: #95e1d3;
		transition: .3s;

		&:hover {
			color: #f38181;
		}
	}
}

.footer__form {
	display: flex;
	width: 100%;
	height: 40px;
}

.footer__formInput {
	width: 330px !important;
	height: 100%;
	padding: 0 15px;
	border: 1px solid #e7e7e7;
	border-right: none;
	outline: none;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 15px;
	color: $black;

	&::placeholder {
		font-family: 'Roboto';
		font-weight: 300;
    font-style: italic;
    font-size: 14px;
    color: #ccc;
	}
}

.footer__formBtn {
	width: 150px;
	height: 100%;
	padding: 0;
	background: #95e1d3;
	border: none;
	outline: none;
	cursor: pointer;
	color: #fff;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	transition: .3s;

	&:hover {
		background: #f38181;
	}
}

.footer__blogs {
	width: 390px;
	min-height: 360px;
}

.footer__title {
	margin-bottom: 41px;
	font-family: 'Montserrat';
	font-size: 14px;
	text-transform: uppercase;
	color: $black;
}

.footer__blogsItem {
	width: 100%;
	height: 80px;
	margin-bottom: 30px;

	&:last-child {
		margin-bottom: 0;
	}
	&:hover {
		box-shadow: 0px 0px 9px 0px #c7c7c7;
	}
}

.footer__blogsItem-link {
	display: flex;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

.footer__blogsItem-img {
	object-fit: cover;
	width: 120px;
	height: 80px;
	margin-right: 20px;
}

.footer__blogsItem-info {
	display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__blogsItem-infoText {
	font-family: 'Montserrat';
	font-size: 12px;
	line-height: 1.5;
	color: $black;
	text-transform: uppercase;
}

.footer__blogsItem-infoTime {
	ont-weight: 300;
  font-style: italic;
  font-size: 13px;
  color: $gray;
}

.footer__instagram {
	width: 270px;
	min-height: 360px;
}

.footer__instagramList {
	display: flex;
	flex-wrap: wrap;
	height: 270px;
	overflow: hidden;
}

.more {
	height: auto;
	overflow: visible;
	transition: all 300ms ease-in-out;
}

.footer__instagramItem {
	width: 88px;
	height: 88px;
	margin: 0px 2px 2px 0;
	background: #000;
}

.footer__instagramLink {
	display: block;
	width: 100%;
	height: 100%;
}

.footer__instagramImg {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.footer__instagramBlock-link {
	margin-top: 9px;
}

.footer__instagramLink-more {
	font-weight: 300;
  font-style: italic;
  font-size: 13px;
  color: $black;
  text-decoration: none;

  &:hover {
		color: #f38181;
	}
}

.footer__bottom {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
}

.footer__bottomText {
	font-family: 'Montserrat';
	font-size: 14px;
	color: $black;
}

    