.header {
	position: relative;
	min-height: 1000px;
	color: $white;
	background: url(../img/bg/Eagle.jpg) center center no-repeat;
  background-size: cover;
}

.header__bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(top, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
}

.header__wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 1000px;
}

.header__top {
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
}

.logo__link {
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 30px;
	color: $white;
	text-decoration: none;
}

.header__top-right {
	display: flex;
	margin-top: 10px;
}

.menu {
	margin-right: 55px;
}

.menu__list {
	display: flex;
}

.menu__item {
	margin-right: 55px;

	&:last-child {
		margin-right: 0;
	}
}

.menu__item-link {
	display: block;
	padding-bottom: 10px;
	border-bottom: 2px solid transparent;
	font-family: 'Montserrat';
	font-size: 14px;
	color: $white;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s;

	&:hover {
		color: #fce38a;
		border-bottom-color: #fce38a;
	}
}

.shopping-cart {
	margin-right: 40px;
}

.shopping-cart__link {
	display: block;
	width: 18px;
	height: 15px;
	background-image: url(../img/icons/shopping-cart.png);

}

.search__link {
	display: block;
	width: 18px;
	height: 18px;
	background-image: url(../img/icons/search.png);
}

.header__center {
	display: flex;
	flex-direction: column;
	align-items: center;
	//margin-top: 160px;
}

.header__text {
	margin-bottom: 30px;
	font-family: 'Kaushan Script';
	font-size: 72px;
}

.header__title {
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 150px;
	line-height: 0.933;
	text-transform: uppercase;
	text-align: center;
}

.line {
	width: 60px;
	height: 3px;
	background-color: #f38181;
}

.line_white {
	background-color: #fff;
	margin: 50px 0;
}

.learn-more {
	width: 160px;
	height: 40px;
	border: 3px solid #fff;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	text-overflow: ellipsis;
	font-family: 'Montserrat';
	font-weight: 700;
	color: #fff;
	font-size: 14px;
	line-height: 40px;
	white-space: nowrap;
	overflow: hidden;
	transition: .3s;

	&:hover {
		color: #f38181;
	}
}

.header__bottom {
	padding-bottom: 30px;
}

.header__bottomList {
	display: flex;
	justify-content: space-between;
}

.header__bottomLine {
	position: relative;
	width: 280px;
	height: 3px;
	background-color: #fff;
	margin-bottom: 25px;
}

.header__bottomLine-bar {
	position: absolute;
	height: 100%;
	background-color: #f38181;
}

.header__bottomInfo-number {
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 24px;
}

.header__bottomInfo-text {
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 18px;
	text-transform: uppercase;
}