.logos {
	min-height: 250px;
	background-color: #f8f8f8;
}

.logos__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 250px;
}

.logos__item {
	width: 130px;
	height: 130px;
	background-position: center center;
	background-repeat: no-repeat;
}

.logos__item_first {
	background-image: url(../img/content/logo1.png);
}

.logos__item_second {
	background-image: url(../img/content/logo2.png);
}

.logos__item_third {
	background-image: url(../img/content/logo3.png);
}

.logos__item_fourth {
	background-image: url(../img/content/logo4.png);
}

.logos__item_fifth {
	background-image: url(../img/content/logo5.png);
}

.logos__item_sixth {
	background-image: url(../img/content/logo6.png);
}


