.map {
	position: relative;
	min-height: 200px;
	background: url('../img/bg/map.jpg') center center no-repeat;
	background-size: cover;
}

.map__wrap {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(#fff, .85);
}

.map__link {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;	
	height: 100%;
	padding: 57px 0;
	text-decoration: none;
}

.map__icon {
	width: 20px;
	height: 26px;
	background: url('../img/icons/map.png') center center no-repeat;
}

.map__text {
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 24px;
	color: #f38181;
	text-transform: uppercase;
}