.testimonial__wrap {
	position: relative;
	display: flex;
	align-items: center;
	min-height: 440px;
	padding: 0 100px 0 80px;
}

.testimonial__arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 22px;
	width: 12px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}

.testimonial__arrow_left {
	left: 25px;
	background-image: url(../img/icons/arrow-left.png);
}

.testimonial__arrow_right {
	right: 25px;
	background-image: url(../img/icons/arrow-right.png);
}

.testimonial__list {
	height: 210px;
	width: 100%;
}

.testimonial__item {
	display: flex;
	justify-content: space-between;
	height: 100%;
	width: 100%;
}

.testimonial__itemLeft {
	height: 100%;
	width: 24.18%;
}
.testimonial__itemLeft-icon {
	height: 210px;
	width: 210px;
}

.testimonial__itemLeft-iconImg {
	object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.testimonial__itemInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 75.82%;
}

.testimonial__itemInfo-text {
	margin-bottom: 20px;
	font-weight: 300;
  font-style: italic;
  font-size: 24px;
}

.testimonial__itemInfo-author {
	display: flex;
	align-items: center;
}

.testimonial__itemInfo-authorName {
	margin-left: 10px;
	font-family: 'Kaushan Script';
	font-size: 24px;
	color: $black;
}

