.quote {
	height: 290px;
	background-color: #f8f8f8;
}

.quote__wrap {
	position: relative;
	display: flex;
	align-items: center;
	padding: 0 110px;
	height: 290px;
}

.quote__arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 22px;
	width: 12px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}

.quote__arrow_left {
	left: 25px;
	background-image: url(../img/icons/arrow-left.png);
}

.quote__arrow_right {
	right: 25px;
	background-image: url(../img/icons/arrow-right.png);
}

.quote__list {
	height: 150px;
	width: 100%;
}

.quote__item {
	display: flex;
	justify-content: space-between;
	height: 100%;
	width: 100%;
}

.quote__itemLeft {
	height: 100%;
	flex: 0 0 20%;
}
.quote__itemLeft-icon {
	height: 150px;
	width: 150px;
	border: 3px solid #95e1d3;
	background: url(../img/icons/speech.png) center center no-repeat;
}

.quote__itemInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	flex: 0 0 80%;
}

.quote__itemInfo-text {
	font-weight: 300;
	font-style: italic;
	font-size: 24px;
}

.quote__itemInfo-author {
	display: flex;
	align-items: center;
}

.quote__itemInfo-authorName {
	margin-left: 10px;
	font-family: "Kaushan Script";
	font-size: 24px;
	color: $black;
}
